body{
    background-image: url(obrazky/pozadi.jpg);
    margin: 0;
    font-family: Arial;
    font-weight: 400;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}
.pozadicko{
    position: absolute;
    top: 37%;
    text-align: center;
    background-color: none;
    color: whitesmoke;
    margin-right: 20%;
    margin-left: 20%;
}